#databases-nav { font-size: 75%; }
#databases-links { padding: 5px 0 5px 0; }
#databases-state-selector { padding: 5px 0 5px 0; }
#descriptions { font-size: 75%; } 
th { background: #656565; color: #ffffff; }
select { font-size: 80%; }
