/*
 * default styles for consistent look & feel
 */

body {
    color: #000000;
    font-family: verdana, arial, helvetica, sans-serif;
}

a       { text-decoration: none; }
a:hover { text-decoration: underline; color: #FF0000; }

p a         { color: #0000CC; }
p a:link    { color: #0000CC; }
p a:visited { color: #000066; }
p a:active  { color: #FF0000; }

/*
.anchor {
    font-family: arial, helvetica, sans-serif;
    font-size: 1.1em;
    color: #000000;
}
.anchor a { color: #0000CC; }
.anchor a:link { color: #0000CC; }
.anchor a:visited { color: #000066; }
.anchor a:active { color: #FF0000; }
*/
/*
input, textarea, select {
    font-size: 1.2em;
    font-family: arial, helvetica, sans-serif; 
    background-color: #FFFFFF;
    color : #000000;
    border: 1px;
    border-style: solid;
}
*/
input.submit {
    border: 3px double #999999;
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    background-image: url('/images/bg-button.gif');
    background-repeat: repeat-x;
    font-size: 1em;
    font-weight: bold;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    cursor: pointer;
}

input.radio {
    border-style: none;
    border-color: transparent;
    background-color: transparent;
}
*/
/*
h1, h2, h3, h4, h5, h6 {
    font-family: verdana, arial, helvetica, sans-serif;
    color:          #000066;
    font-weight:    bold;
    font-size:   1.4em;
    margin-top:     0px;
}

h1 {
    border-bottom:  1px solid #666666;
    font-size:      1.7em;
    padding-bottom: 7px;
}

h2 {
    border-bottom:  1px solid #666666;
    font-size:      1.4em;
    padding-bottom: 7px;
}

h3 {
    font-size:      1.4em;
    padding-bottom: 5px;
    text-decoration: none;
}

h4 {
    font-size:      1.2em;
    margin-bottom: 12px;
}

ul {
    list-style-type: disc;
    margin-top: 0px;
    margin-left: 10px;
    padding-left: 5px;
}

td.menu { 
    border-width: 0px;
    border-style: solid; 
    border-color: transparent;
    font-weight: bold;
    background-color: #EAEAEA;
}

td.menu a{
    color: #000099;
}

td.menu a:hover {
    color: #FF0000;
    text-decoration: underline;
}
*/

/*
td.central-body { 
    border-width: 0px;
    border-style: solid;
    border-color: transparent;
    background-color: #FFFFFF;
    font-family: arial, helvetica, sans-serif;
    padding: 20px;
}

td.central-body a{ 
    font-weight: bold;
    text-decoration: underline;
}

td.central-body a:hover { 
    color: #FF0000;
}

td.menu-locator { 
    border-width: 0px;
    border-style: solid;
    border-color: transparent;
    color: #FFFFFF; 
}

td.menu-locator a{
    color: #FFFFFF;
    text-decoration: underline;
}

td.menu-locator a:hover {
    color: #FFCC00;
}

td.index a{
    font-size: 1.1em;
    font-weight: bold;
    color: #000066;
    text-decoration: none;
}
td.index a:hover {
    color: #FF0000;
    text-decoration: underline;
}

td.label {
    white-space: nowrap;
    font-weight: bold;
    width: 25%;
}
td.nowrap {
    white-space: nowrap;
}

div.index {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:      1.4em;
    font-weight: bold;
    border-bottom:  1px solid #666666;
    margin-top:     0px;
    padding-bottom: 5px;
}

div.index a{
    color: #000066;
    text-decoration: none;
}

div.index a:hover {
    color: #FF0000;
    text-decoration: underline;
}
*/