${customerName}, 

Thank you for upgrading your SearchSystems.net member account. Your account
information is listed below.
 
   Username: ${username} 

For access to Criminal Records, Bankruptcies, Judgments and Tax Liens searches
login here:  https://premium.searchsystems.net/login.php

If you would like access to our Public Records Directory, please proceed to our
login page at:  https://www.searchsystems.net/login.php

For help using our Public Records Directory and Databases, go to: http://www.searchsystems.net/

If you have any questions about your account or our services, our contact information is posted below.

Thank you, 
Search Systems 

----------------- 
Please do not reply to this email.  If you have any questions or problems you can contact us here: 
http://www.searchsystems.net/webmaster.php 

Pacific Information Resources, Inc. DBA Search Systems 
1-800-350-2232 (toll free in the U.S.) or 
+1-805-375-4041 (outside the U.S.) 
-----------------
